<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cnStr" connectionString="Server =.; Database = QLNhaHang;Integrated Security = true;" />
        <add name="RestaurantApp.Properties.Settings.QLNhaHangConnectionString"
            connectionString="Data Source=.;Initial Catalog=QLNhaHang;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>